body{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);

    color: aliceblue;
}

#camera,#result{
    border: dashed;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
}
footer{
    margin-top: 2%;
}
hr{
    margin-left: 10%;
    margin-right: 10%;
}